*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, input, textarea{
    font-family: "Roboto", sans-serif;
}

header{
    padding: 16px 0;
    background-color: #026422;
    color: #FFF;
}

header nav li{
    display: inline;
    margin-left: 16px;
    list-style: none;
    font-size: 18px;
}

header nav li a{
    text-decoration: none;
    color: #ff0000;
}

.palmeiras,
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jogador img{
    width: 180px;
    height: auto;
    border-radius: 8px;
}

.historia{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 16px;
}

footer {
    background-color: #026422;
    color: #FFF;
    padding: 24px 0;
    margin-top: 40px;
}

footer p{
    margin: 8px 0;
}

section{
    padding: 40px 20px;
}

#contato .container{
    max-width: 600px;
    margin: 0 auto;
}

#contato form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
}

#contato input,
#contato textarea{
    padding:12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

#contato button{
    background-color: #026422;
    color: #FFF;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-style: normal;
}

#contato button:hover{
    background-color: #038c30;
}